<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.invite.mapper.InviteCountMapper">
    <resultMap id="BaseResultMap" type="com.opay.invite.model.InviteCountModel">
        <!--@mbg.generated-->
        <!--@Table invite_count-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="opay_id" jdbcType="VARCHAR" property="opayId"/>
        <result column="opay_name" jdbcType="VARCHAR" property="opayName"/>
        <result column="opay_phone" jdbcType="VARCHAR" property="opayPhone"/>
        <result column="login" jdbcType="INTEGER" property="login"/>
        <result column="share" jdbcType="INTEGER" property="share"/>
        <result column="invite" jdbcType="INTEGER" property="invite"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, opay_id, day, opay_name, opay_phone, `login`, `share`, invite, create_time, version
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from invite_count
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from invite_count
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.opay.invite.model.InviteCountModel"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into invite_count (opay_id, opay_name, opay_phone,
        `login`, `share`, invite,
        create_time, version)
        values (#{opayId,jdbcType=VARCHAR}, #{opayName,jdbcType=VARCHAR}, #{opayPhone,jdbcType=VARCHAR},
        #{login,jdbcType=INTEGER}, #{share,jdbcType=INTEGER}, #{invite,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{version,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.opay.invite.model.InviteCountModel"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into invite_count
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opayId != null">
                opay_id,
            </if>
            <if test="day != null">
                day,
            </if>
            <if test="opayName != null">
                opay_name,
            </if>
            <if test="opayPhone != null">
                opay_phone,
            </if>
            <if test="login != null">
                `login`,
            </if>
            <if test="share != null">
                `share`,
            </if>
            <if test="invite != null">
                invite,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opayId != null">
                #{opayId,jdbcType=VARCHAR},
            </if>
            <if test="day != null">
                #{day,jdbcType=VARCHAR},
            </if>
            <if test="opayName != null">
                #{opayName,jdbcType=VARCHAR},
            </if>
            <if test="opayPhone != null">
                #{opayPhone,jdbcType=VARCHAR},
            </if>
            <if test="login != null">
                #{login,jdbcType=INTEGER},
            </if>
            <if test="share != null">
                #{share,jdbcType=INTEGER},
            </if>
            <if test="invite != null">
                #{invite,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opay.invite.model.InviteCountModel">
        <!--@mbg.generated-->
        update invite_count
        <set>
            <if test="opayId != null">
                opay_id = #{opayId,jdbcType=VARCHAR},
            </if>
            <if test="opayName != null">
                opay_name = #{opayName,jdbcType=VARCHAR},
            </if>
            <if test="opayPhone != null">
                opay_phone = #{opayPhone,jdbcType=VARCHAR},
            </if>
            <if test="login != null">
                `login` = #{login,jdbcType=INTEGER},
            </if>
            <if test="share != null">
                `share` = #{share,jdbcType=INTEGER},
            </if>
            <if test="invite != null">
                invite = #{invite,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT}+1,
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and version = #{version,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.opay.invite.model.InviteCountModel">
        <!--@mbg.generated-->
        update invite_count
        set opay_id = #{opayId,jdbcType=VARCHAR},
        opay_name = #{opayName,jdbcType=VARCHAR},
        opay_phone = #{opayPhone,jdbcType=VARCHAR},
        `login` = #{login,jdbcType=INTEGER},
        `share` = #{share,jdbcType=INTEGER},
        invite = #{invite,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        version = #{version,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByOpayId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from invite_count
        where opay_id = #{opayId} and day=#{day}
    </select>
</mapper>