<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.invite.mapper.OpayInviteCodeMapper">

    <resultMap id="BaseResultMap" type="com.opay.invite.model.OpayInviteCode">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="opay_id" jdbcType="VARCHAR" property="opayId" />
        <result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>

    <select id="getInviteCode" resultMap="BaseResultMap">
        select opay_id,invite_code,phone
        from opay_invite_code where opay_id=#{opayId,jdbcType=VARCHAR}
    </select>

    <insert id="saveInviteCode">
    insert into opay_invite_code (invite_code, opay_id,phone,create_at)
    values
     (#{inviteCode,jdbcType=VARCHAR}, #{opayId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},now())
  </insert>

    <select id="getOpayIdByInviteCode" resultMap="BaseResultMap">
        select opay_id,invite_code,phone
        from opay_invite_code where invite_code=#{inviteCode,jdbcType=VARCHAR}
    </select>
</mapper>