<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.invite.mapper.OpayActiveCashbackMapper">

  <resultMap id="BaseResultMap" type="com.opay.invite.model.OpayActiveCashback">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="opay_id" jdbcType="VARCHAR" property="opayId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_at" property="createAt" />
    <result column="update_at" property="updateAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, opay_id, phone,amount,total_amount,status,version,create_at,update_at
  </sql>

    <select id="getActivityCashbackByOpayId" resultMap="BaseResultMap">
        select
      <include refid="Base_Column_List" />
        from opay_active_cashback where opay_id=#{opayId,jdbcType=VARCHAR}
    </select>
  <insert id="saveCashback">
    insert into opay_active_cashback (opay_id,phone,create_at)
    values
     (#{opayId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},#{time})
  </insert>

  <update id="updateCashback" parameterType="com.opay.invite.model.OpayActiveCashback">
   update opay_active_cashback set amount=amount+#{amount},total_amount=total_amount+#{totalAmount},version=version+1
   ,update_at=#{updateAt}
   where opay_id=#{opayId,jdbcType=VARCHAR} and version=#{version}
  </update>

  <update id="deductionCashback" parameterType="com.opay.invite.model.OpayActiveCashback">
   update opay_active_cashback set amount=amount-#{amount},version=version+1
   ,update_at=#{updateAt}
   where opay_id=#{opayId,jdbcType=VARCHAR} and version=#{version}
  </update>
    <update id="updateBatchCashback"  parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update opay_active_cashback set
            amount=amount+#{item.amount},
            total_amount=total_amount+#{item.totalAmount},
            version=version+1,
            update_at=#{item.updateAt}
            where opay_id=#{item.opayId}
        </foreach>
    </update>
    <update id="updateRollbackCashback" parameterType="com.opay.invite.model.OpayActiveCashback">
   update opay_active_cashback set amount=amount+#{amount},version=version+1
   ,update_at=#{updateAt}
   where opay_id=#{opayId,jdbcType=VARCHAR} and version=#{version}
  </update>
</mapper>