<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.invite.mapper.OpayCashbackTixianMapper">

  <resultMap id="BaseResultMap" type="com.opay.invite.model.OpayActiveTixian">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="opay_id" jdbcType="VARCHAR" property="opayId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_at" property="createAt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="day" jdbcType="INTEGER" property="day" />
    <result column="device_id" property="deviceId" />
    <result column="ip" property="ip" />
  </resultMap>

  <sql id="Base_Column_List">
    id, opay_id, amount,type,create_at,status,`month`,`day`,device_id,ip
  </sql>

    <select id="getTixianById" resultMap="BaseResultMap">
        select
      <include refid="Base_Column_List" />
        from opay_active_tixian where id=#{id,jdbcType=VARCHAR}
    </select>

  <select id="getTixianAmount" resultMap="BaseResultMap">
    select sum(amount) amount
    from opay_active_tixian where opay_id=#{opayId,jdbcType=VARCHAR} and `day`=#{day} and status in(0,1,3)
  </select>

  <insert id="saveTixian" parameterType="com.opay.invite.model.OpayActiveTixian" keyProperty="id" useGeneratedKeys="true">
    insert into opay_active_tixian (opay_id,amount,type,create_at,status,`month`,`day`,device_id,ip)
    values
     (#{opayId,jdbcType=VARCHAR}, #{amount}, #{type},#{createAt}, #{status}, #{month}, #{day}, #{deviceId}, #{ip})
  </insert>

  <insert id="saveTixianLog" parameterType="com.opay.invite.model.OpayActiveTixianLog">
    insert into opay_active_tixian_log (opay_id,amount,type,create_at,tixian_id,`month`,`day`,device_id,ip,mark)
    values
     (#{opayId,jdbcType=VARCHAR}, #{amount}, #{type},#{createAt}, #{tixianId}, #{month}, #{day}, #{deviceId}, #{ip},#{mark})
  </insert>

  <update id="updateTixian">
    update opay_active_tixian set trade_no=#{tradeNo},reference=#{reference},status=#{status},update_at=now()
    where id=#{id} and opay_id=#{opayId}
    <if test="status==1 or status==2">
      and status=0
    </if>
    <if test="status==3 or status==4">
      and status=1
    </if>
  </update>

  <select id="withdrawalList" parameterType="com.opay.invite.model.request.WithdrawalListRequest" resultMap="BaseResultMap">
    select
    a.id, a.opay_id,a.amount,a.type,a.create_at,a.status,a.`month`,a.`day`,a.device_id,ip
    from opay_active_tixian a
    left join opay_active_cashback b on a.opay_id=b.opay_id
    where a.amount>=1000
    <where>
      <if test="status!=null">
        and a.status=#{status}
      </if>
      <if test="phone!=null and phone !='' ">
        and b.phone=#{phone}
      </if>
    </where>
    order by a.id desc
  </select>
</mapper>