<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.invite.mapper.RewardJobMapper">

    <resultMap id="BaseResultMap" type="com.opay.invite.model.OpayUserOrder">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="amount" jdbcType="DECIMAL" property="amount" />
        <result column="discount_amount" jdbcType="DECIMAL" property="discountAmount" />
        <result column="order_time" property="orderTime" />
        <result column="opay_id" jdbcType="VARCHAR" property="opayId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="master_id" jdbcType="INTEGER" property="masterOpayId" />
        <result column="mark_type" jdbcType="INTEGER" property="markType" />
    </resultMap>

    <select id="getOpayUserOrderList" resultMap="BaseResultMap">
        select a.id,a.order_id,a.amount,a.discount_amount,a.order_time,a.opay_id,a.type,status,b.master_id,b.mark_type
        from opay_user_order a
        left join opay_invite_relation b on a.opay_id=b.pupil_id
        where day=#{day} and status=0
        order by order_id asc
        limit #{start},#{pageSize}
    </select>

</mapper>