<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.im.mapper.ChatGroupInviteMapper">
  <resultMap id="BaseResultMap" type="com.opay.im.model.ChatGroupInviteModel">
    <!--@Table chat_group_invite-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="opay_id" jdbcType="VARCHAR" property="opayId" />
    <result column="invite_opay_id" jdbcType="VARCHAR" property="inviteOpayId" />
    <result column="invite_time" jdbcType="TIMESTAMP" property="inviteTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, opay_id, invite_opay_id, invite_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat_group_invite
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chat_group_invite
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.opay.im.model.ChatGroupInviteModel" useGeneratedKeys="true">
    insert into chat_group_invite (group_id, opay_id, invite_opay_id, 
      invite_time, create_time)
    values (#{groupId,jdbcType=BIGINT}, #{opayId,jdbcType=VARCHAR}, #{inviteOpayId,jdbcType=VARCHAR}, 
      #{inviteTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.opay.im.model.ChatGroupInviteModel" useGeneratedKeys="true">
    insert into chat_group_invite
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        group_id,
      </if>
      <if test="opayId != null">
        opay_id,
      </if>
      <if test="inviteOpayId != null">
        invite_opay_id,
      </if>
      <if test="inviteTime != null">
        invite_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupId != null">
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="opayId != null">
        #{opayId,jdbcType=VARCHAR},
      </if>
      <if test="inviteOpayId != null">
        #{inviteOpayId,jdbcType=VARCHAR},
      </if>
      <if test="inviteTime != null">
        #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.opay.im.model.ChatGroupInviteModel">
    update chat_group_invite
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="opayId != null">
        opay_id = #{opayId,jdbcType=VARCHAR},
      </if>
      <if test="inviteOpayId != null">
        invite_opay_id = #{inviteOpayId,jdbcType=VARCHAR},
      </if>
      <if test="inviteTime != null">
        invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opay.im.model.ChatGroupInviteModel">
    update chat_group_invite
    set group_id = #{groupId,jdbcType=BIGINT},
      opay_id = #{opayId,jdbcType=VARCHAR},
      invite_opay_id = #{inviteOpayId,jdbcType=VARCHAR},
      invite_time = #{inviteTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>