<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opay.im.mapper.RongCloudMessageMapper">
    <resultMap id="BaseResultMap" type="com.opay.im.model.RongCloudMessageModel">
        <!--@Table rong_cloud_message-->
        <id column="msg_uid" jdbcType="VARCHAR" property="msgUID"/>
        <result column="from_user_id" jdbcType="VARCHAR" property="fromUserId"/>
        <result column="to_user_id" jdbcType="VARCHAR" property="toUserId"/>
        <result column="object_name" jdbcType="VARCHAR" property="objectName"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="channel_type" jdbcType="VARCHAR" property="channelType"/>
        <result column="msg_timestamp" jdbcType="VARCHAR" property="msgTimestamp"/>
        <result column="sensitive_type" jdbcType="TINYINT" property="sensitiveType"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="group_user_ids" jdbcType="VARCHAR" property="groupUserIds"/>
    </resultMap>
    <sql id="Base_Column_List">
            msg_uid,
            from_user_id,
            to_user_id,
            object_name,
            content,
            channel_type,
            msg_timestamp,
            sensitive_type,
            `source`,
            group_user_ids
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rong_cloud_message
        where msg_uid = #{msgUID,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from rong_cloud_message
        where msg_uid = #{msgUID,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.opay.im.model.RongCloudMessageModel">
        insert into rong_cloud_message (msg_uid, from_user_id, to_user_id,
        object_name, content, channel_type,
        msg_timestamp, sensitive_type, `source`,
        group_user_ids)
        values (#{msgUID,jdbcType=VARCHAR}, #{fromUserId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR},
        #{objectName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR},
        #{msgTimestamp,jdbcType=VARCHAR}, #{sensitiveType,jdbcType=LONGVARCHAR}, #{source,jdbcType=VARCHAR},
        #{groupUserIds,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.opay.im.model.RongCloudMessageModel">
        insert into rong_cloud_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="msgUID != null">
                msg_uid,
            </if>
            <if test="fromUserId != null">
                from_user_id,
            </if>
            <if test="toUserId != null">
                to_user_id,
            </if>
            <if test="objectName != null">
                object_name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="channelType != null">
                channel_type,
            </if>
            <if test="msgTimestamp != null">
                msg_timestamp,
            </if>
            <if test="sensitiveType != null">
                sensitive_type,
            </if>
            <if test="source != null">
                `source`,
            </if>
            <if test="groupUserIds != null">
                group_user_ids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="msgUID != null">
                #{msgUID,jdbcType=VARCHAR},
            </if>
            <if test="fromUserId != null">
                #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="objectName != null">
                #{objectName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="channelType != null">
                #{channelType,jdbcType=VARCHAR},
            </if>
            <if test="msgTimestamp != null">
                #{msgTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="sensitiveType != null">
                #{sensitiveType,jdbcType=TINYINT},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="groupUserIds != null">
                #{groupUserIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opay.im.model.RongCloudMessageModel">
        update rong_cloud_message
        <set>
            <if test="fromUserId != null">
                from_user_id = #{fromUserId,jdbcType=VARCHAR},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId,jdbcType=VARCHAR},
            </if>
            <if test="objectName != null">
                object_name = #{objectName,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="channelType != null">
                channel_type = #{channelType,jdbcType=VARCHAR},
            </if>
            <if test="msgTimestamp != null">
                msg_timestamp = #{msgTimestamp,jdbcType=VARCHAR},
            </if>
            <if test="sensitiveType != null">
                sensitive_type = #{sensitiveType,jdbcType=TINYINT},
            </if>
            <if test="source != null">
                `source` = #{source,jdbcType=VARCHAR},
            </if>
            <if test="groupUserIds != null">
                group_user_ids = #{groupUserIds,jdbcType=VARCHAR},
            </if>
        </set>
        where msg_uid = #{msgUID,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.opay.im.model.RongCloudMessageModel">
        update rong_cloud_message
        set from_user_id = #{fromUserId,jdbcType=VARCHAR},
        to_user_id = #{toUserId,jdbcType=VARCHAR},
        object_name = #{objectName,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        channel_type = #{channelType,jdbcType=VARCHAR},
        msg_timestamp = #{msgTimestamp,jdbcType=VARCHAR},
        sensitive_type = #{sensitiveType,jdbcType=TINYINT},
        `source` = #{source,jdbcType=VARCHAR},
        group_user_ids = #{groupUserIds,jdbcType=VARCHAR}
        where msg_uid = #{msgUID,jdbcType=VARCHAR}
    </update>
</mapper>