<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opay.invite.backstage.dao.mapper.OpayInviteRelationMapper" >
  <resultMap id="BaseResultMap" type="com.opay.invite.backstage.dao.entity.OpayInviteRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="master_id" property="masterId" jdbcType="VARCHAR" />
    <result column="pupil_id" property="pupilId" jdbcType="VARCHAR" />
    <result column="pupil_phone" property="pupilPhone" jdbcType="VARCHAR" />
    <result column="master_phone" property="masterPhone" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="master_parent_id" property="masterParentId" jdbcType="VARCHAR" />
    <result column="mark_type" property="markType" jdbcType="TINYINT"/>
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, master_id, pupil_id, pupil_phone, master_phone, create_at, master_parent_id, 
    mark_type, month, day
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from opay_invite_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from opay_invite_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from opay_invite_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelationExample" >
    delete from opay_invite_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelation" >
    insert into opay_invite_relation (id, master_id, pupil_id, 
      pupil_phone, master_phone, create_at, 
      master_parent_id, mark_type, month, 
      day)
    values (#{id,jdbcType=BIGINT}, #{masterId,jdbcType=VARCHAR}, #{pupilId,jdbcType=VARCHAR}, 
      #{pupilPhone,jdbcType=VARCHAR}, #{masterPhone,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, 
      #{masterParentId,jdbcType=VARCHAR}, #{markType,jdbcType=TINYINT}, #{month,jdbcType=INTEGER}, 
      #{day,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelation" >
    insert into opay_invite_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
      <if test="pupilId != null" >
        pupil_id,
      </if>
      <if test="pupilPhone != null" >
        pupil_phone,
      </if>
      <if test="masterPhone != null" >
        master_phone,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="masterParentId != null" >
        master_parent_id,
      </if>
      <if test="markType != null" >
        mark_type,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=VARCHAR},
      </if>
      <if test="pupilId != null" >
        #{pupilId,jdbcType=VARCHAR},
      </if>
      <if test="pupilPhone != null" >
        #{pupilPhone,jdbcType=VARCHAR},
      </if>
      <if test="masterPhone != null" >
        #{masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="masterParentId != null" >
        #{masterParentId,jdbcType=VARCHAR},
      </if>
      <if test="markType != null" >
          #{markType,jdbcType=TINYINT},
      </if>
      <if test="month != null" >
        #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelationExample" resultType="java.lang.Integer" >
    select count(*) from opay_invite_relation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update opay_invite_relation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.masterId != null" >
        master_id = #{record.masterId,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilId != null" >
        pupil_id = #{record.pupilId,jdbcType=VARCHAR},
      </if>
      <if test="record.pupilPhone != null" >
        pupil_phone = #{record.pupilPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.masterPhone != null" >
        master_phone = #{record.masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null" >
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.masterParentId != null" >
        master_parent_id = #{record.masterParentId,jdbcType=VARCHAR},
      </if>
      <if test="record.markType != null" >
          mark_type = #{record.markType,jdbcType=TINYINT},
      </if>
      <if test="record.month != null" >
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
      update opay_invite_relation
      set id = #{record.id,jdbcType=BIGINT},
      master_id = #{record.masterId,jdbcType=VARCHAR},
      pupil_id = #{record.pupilId,jdbcType=VARCHAR},
      pupil_phone = #{record.pupilPhone,jdbcType=VARCHAR},
      master_phone = #{record.masterPhone,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      master_parent_id = #{record.masterParentId,jdbcType=VARCHAR},
      mark_type = #{record.markType,jdbcType=TINYINT},
      month = #{record.month,jdbcType=INTEGER},
      day = #{record.day,jdbcType=INTEGER}
      <if test="_parameter != null">
          <include refid="Update_By_Example_Where_Clause"/>
      </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelation" >
    update opay_invite_relation
    <set >
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=VARCHAR},
      </if>
      <if test="pupilId != null" >
        pupil_id = #{pupilId,jdbcType=VARCHAR},
      </if>
      <if test="pupilPhone != null" >
        pupil_phone = #{pupilPhone,jdbcType=VARCHAR},
      </if>
      <if test="masterPhone != null" >
        master_phone = #{masterPhone,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="masterParentId != null" >
        master_parent_id = #{masterParentId,jdbcType=VARCHAR},
      </if>
      <if test="markType != null" >
          mark_type = #{markType,jdbcType=TINYINT},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opay.invite.backstage.dao.entity.OpayInviteRelation" >
    update opay_invite_relation
    set master_id = #{masterId,jdbcType=VARCHAR},
      pupil_id = #{pupilId,jdbcType=VARCHAR},
      pupil_phone = #{pupilPhone,jdbcType=VARCHAR},
      master_phone = #{masterPhone,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      master_parent_id = #{masterParentId,jdbcType=VARCHAR},
      mark_type = #{markType,jdbcType=TINYINT},
      month = #{month,jdbcType=INTEGER},
      day = #{day,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>